//.navbar-logo {
//	position: absolute;
//	height: 200px;
//	width: 275px;
//	top: 10px;
//	left: 68%;
//	z-index: -1000;
//}

.navbar {
	height: 60px;
	color: white;
	margin-bottom: 0px;
}

.navbar-brand {
	font-weight: 400;
	font-size: 2em;
	text-align: center;
	margin: 2px auto 0 auto;
	vertical-align: middle;
}