.highlight {
  background-color: red;
}

.game-board-content li {
  display: block;
	background-color: darkblue;
	font-size: 1.5em;
  color: white;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
  height: 40px;
  border: solid yellow 3px;
}

