#question-box {
	margin: 0 50px;
	width: 100%;
	color: $secondary-color;

	.question-number {
		font-weight: 300;
	}

	.question-list {
		font-size: 2em;
		font-weight: 600;
	}

	.question {
		float: left;
		clear: both;
	}
}

