#game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

.left, .right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}

.game-question-box {
  //background-color: red;
  order: 1;
  flex: 4;
  width: 1000px;
  min-width: 600px;
  height: 300px;
  min-height: 200px;
  padding: 40px;
}

.game-answers-box {
  //background-color: green;
  flex-direction: column;
  order: 2;
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 400px;
  border: solid red 3px;
}

.game-answers {
  //background-color: yellow;
  flex: 2;
  order: 1;
  width: 500px;
  height: 200px;
  min-height: 420px;
}

.game-lifelines {
  //background-color: purple;
  flex: 1;
  order: 2;
}

.game-submit {
  //background-color: blue;
  flex: 1;
  order: 3;
}

.game-board {
  background-color: black;
  order: 2;
  flex: 6;
  width: 500px;
  min-width: 200px;
  height: 550px;
  min-height: 400px;
  color: yellow;
  padding: 20px;
  margin: 20px;
}

.game-score {
  //background-color: orange;
  order: 1;
  height: 100px;
  min-height: 60px;
  width: 500px;
  min-width: 200px;
  padding: 20px;
  margin: 20px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}
